.page404 {
    grid-area: cont;
    background-color: #f5f6fa;
    box-shadow: 0 8px 6px silver;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.page404__title {
    padding-bottom: 45px;
    font-size: 50px;
    font-weight: bold;
}