.posts {
    display: flex;
    flex-wrap: wrap;
    grid-area: posts;
    justify-content: center;
}

.add_post__block {
    margin: 50px auto;
    border-top: 1px solid silver;
    width: 575px;
}

.add_post__form {   
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.my_posts {
    font-size: 2vw;
    text-align: center;
}

.add_post {
    display: block;
    float: right;
    width: 75px;
    height: 25px;
    font-family: 'Bahnschrift', sans-serif;
    background-color: #6ab04c;
    color: white;
    border: 0;
    box-shadow: 2px 3px 3px silver;
    transition: 0.3s;
    cursor: pointer;
}

.add_post:hover {
    background-color: #badc58;
}
