.dialog {
    width: 92%;
    height: 9vh;
    background-color: #f1f2f6;
    padding: 1.5vh;
    border: 0.1vh solid silver;
    transition: 0.3s;
    float: left;
}

.dialog:hover {
    background-color: #dfe4ea;
}

.dialog_img {
    width: 25%;
    height: 100%;
    float: left;
}

.dialog_img img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    border: 2px solid greenyellow
}

.dialog_name {
    width: 75%;
    height: 100%;
    float: left;    
}

.dialog_name p {
    padding-left: 1vw;
}

